/* code listings */

div.Swift {
    font-family: Menlo, monospace;
    font-size:14px;
    line-height:18px;
    margin:0.5em;
    margin-left:10px;
    margin-bottom:1.5em;
    padding:0.5em;
    padding-left:1em;
    overflow:scroll
}

.code-sample {
    display: block;
    font-size: 1.4em;
    margin-left: 21px;
}
.code-sample .code-lines {
    margin-left: 0;
}
.code-lines {
    counter-reset: li;
    line-height: 1.6em;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.code-sample .code-lines li {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
}
.code-lines li {
    padding-left: 0;
    text-indent: -13px;
    white-space: pre-wrap;
    border-left: 18px solid transparent;
}

.code-lines li::before {
    color: rgba(128,128,128,1);
    content: counter(li);
    counter-increment: li;
    font-family: Menlo,monospace;
    font-size: .9em;
    margin-right: 16px;
    -webkit-user-select: none;
}
.code-sample .code-lines li::before {
    margin-left: -35px;
    margin-right: 25px;
}
.code-sample .code-lines li:nth-child(n+10)::before {
    margin-left: -43px;
    margin-right: 25px;
}
.code-sample .code-lines li:only-of-type::before {
    color: rgba(255,255,255,1);
    content: ' ';
}

/* no line numbering in syntax outlines */
.syntax-outline .code-lines li::before {
    content: ' ';
}
.syntax-outline .code-lines {
    line-height: 1.9em;
}
.syntax-outline div.Swift {
    border-color: transparent;
}

.code-sample div.Swift {
    width: 93%;
    margin-left: 13px;
    overflow: visible;
}
div.Swift {
    border-left: 5px solid rgba(205,233,244,1);
    padding: 4px 0 2px 10px;
    margin: 10px 0 21px;
    line-height: 22px;
}

.highlight .gi { /* code placeholder capsule */
    background-color: rgba(233, 239, 250, 1);
    border: 1px solid rgba(196, 212, 241, 1);
    border-radius: 10px;
    color: rgba(0, 0, 0, 1);
    padding: 2px 6px;
    font-style: inherit;
    white-space: nowrap
}

/* grammar */

.admonition.grammar {
    border-left: 5px solid rgba(233,233,233,1);
    margin: 20px 0;
    padding-left: 15px;
    padding-bottom: 1px;
    font-size: 0.8em;
    background: transparent;
}
.admonition.grammar p.admonition-title {
    margin-bottom: 8px;
}
.admonition.grammar p {
    margin: 0;
}
.admonition.grammar p.syntax-def {
    margin-left: 25px;
    text-indent: -25px;
}
.admonition.grammar .syntax-def-name {
    color: rgba(128,128,128,1);
    font-style: italic;
    font-size: 15px;
}
.admonition.grammar .arrow {
    padding: 0 6px;
}
.admonition.grammar code {
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px;
}
.admonition.grammar a.syntax-def {
    font-size: 15px;
    font-style: italic;
    padding: 0 3px;
}
.admonition.grammar sub {
    color: rgba(128,128,128,1);
    font-size: 12px;
    font-style: italic;
    margin-left: -3px;
    padding-right: 5px;
    vertical-align: baseline;
    position: relative;
    top: 0.3em; 
}
.admonition.grammar .syntax-group {
    margin-bottom: 10px;
}

/* navigation overrides */

nav[role="navigation"] h2 {
    font-size: 1em;
    color: #333;
    padding: 0 12px 2px;
}
nav[role="navigation"] h2 div {
    font-weight: 100;
    padding-top: 3px;
}
nav[role="navigation"] ul li ul a:link {
    color: #333;
}
nav[role="navigation"] ul li ul a.current:link {
    font-weight: bold;
}
nav[role="navigation"] .return {
    padding: 0 0 20px;
    margin-top:  -10px;
    text-indent: -18px;
    margin-left: 18px;
}

/* general overrides */

img.align-center {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}

a.headerlink {
    display: none;
}

body {
    background: #fff;
}
p {
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
}
h3 { 
    font-size: 1.4em;
}
@media only screen and (max-width: 767px) {
    h2 {
        font-size: 2em;
    }
    h3 { 
        font-size: 1.4em;
    }
}

.playground_link a {
    font-weight: bold;
}

p>code.literal, li>code.literal, dt>code.literal, dd>code.literal {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #666;
    font-size: 0.9em;
}
a>code.literal {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0.9em;
}
article table {
    border-collapse: collapse;
    border-color: #ddd;
}

article table th, article table td, article table th:not(:first-child), article table td:not(:first-child) {
    border-color: #ddd;
}

.admonition {
    margin-left: 34px;
    border-left: solid 5px #ccc;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 0.85em;
    margin-bottom: 1.5em;
}
.admonition-experiment {
    border-color: #0088cc;
}
.admonition-beta {
    margin-top: 4em;
    clear: both;
}
.admonition .admonition-title {
    text-transform: uppercase;
    color: #777;
    font-weight: normal;
    font-size: 0.7em;
    letter-spacing: 2px;
    margin-bottom: 0.7em;
}
.admonition .last {
    margin-bottom: 0;
}

nav[role="navigation"].open ul {
    display: block;
}

/* intrapage navigation */

#bashful {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
}

#bashful .inner {
    position: relative;
    width: 100%;
    max-width: 985px;
}

#jump_to {
    position: absolute;
    right: 15px;
}

#jump_to_toggle {
    display: block;
    float: right;
    background: rgb(250, 250, 250) right 1px no-repeat url(../images/icon-caret-sm.svg);
    border: 1px solid rgb(230, 230, 230);
    border-top: none;
    padding: 5px 27px 5px 8px;
    color: #333;
    font: 12px Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 14px;
    height: 25px;
    cursor: pointer;
}
  
#jump_to.open #jump_to_toggle {
    border-bottom-color: rgb(250, 250, 250);
    background-image: url(../images/icon-close-sm.svg);
}

#jump_to menu {
    display: none;
}

#jump_to.open menu {
    display: block;
    margin: 24px 0 0;
    padding: 0 15px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(230, 230, 230);
    width: 300px;
    font-size: 12px;
    line-height: 15px;
    color: #666;
}

#jump_to menu ul {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

#jump_to menu ul ul {
    margin: 0;
}

/* hide h1 level nav */
#jump_to menu ul a {
    display: none;
}
/* show >= h2 level nav */
#jump_to menu ul ul a {
    display: inline;
    color: #333;
}
/* indent h3 level nav */
#jump_to menu ul ul ul {
    display: none;
    padding-left: 15px;
    margin-bottom: 10px;
}
/* hide >= h4 level nav */
#jump_to menu ul ul ul ul {
    display: none;
}

#jump_to menu ul ul li {
    margin: 6px 0;
}

#jump_to_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background-color: transparent;
    z-index: 5;
    cursor: default;
}

.next_previous p {
    display: inline;
    margin: 0;
}
.next_previous .previous a {
    float: left;
    padding: 0 25px;
    background: 0 3px url(../images/icon-next_previous.svg) no-repeat;
    display: block;
}
.next_previous .next a {
    float: right;
    padding: 0 25px;
    background: right -18px url(../images/icon-next_previous.svg) no-repeat;
    display: block;
}
footer {
    margin-top: 4em;
    clear: both;
}

@media only screen and (max-width: 767px) {
    #jump_to, #bashful {
        display: none;
    }

    .code-sample {
        margin-left: 10px;
    }
    .admonition {
        margin-left: 23px;
    }
}
